body {
    background-color: #f9f5ec; /* Warna latar belakang */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.cart-container {
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: #2e1700; /* Warna latar container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff; /* Warna teks */
}

.cart-header {
    text-align: center;
    margin-bottom: 20px;
}

.cart-items {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff; /* Warna latar items */
    color: #000; /* Warna teks items */
}

.cart-total {
    text-align: right; /* Mengubah alignment total ke kanan */
    background-color: #2e1700; /* Warna latar total sesuai dengan latar container */
    color: #fff; /* Warna teks total */
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    float: right; /* Menggunakan float untuk membuat total dan tombol sejajar */
    margin-left: 75px;
}

.cart-button {
    text-align: right; /* Mengubah alignment tombol ke kanan */
    margin-top: 10px; /* Mengurangi margin top agar sejajar dengan total */
}

.cart-button a {
    text-decoration: none;
    background-color: #72471b; /* Warna tombol */
    color: #fff; /* Warna teks tombol */
    padding: 10px 20px;
    border-radius: 5px;
}

.cart-button a:hover {
    background-color: #C19A6b; /* Warna tombol saat hover */
}
